<% if (site.posts.length){ %>
  <div class="recent_posts">
    <p class="asidetitle"><a href="<%- config.root %>archives"><%= __('recent_posts') %></a></p>
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a href="<%- config.root %><%- post.path %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
  </div>
<% } %>